

body{
    background-image: url('./images/holiday3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}

#nameLogo{
    margin-top: 5%;
    margin-left: 25%;
}

#searchInfo {
    color: white;
    margin-top: 3%;
    margin-left: 20%;
    flex: 5% 0 30%;
    -webkit-text-stroke: 0.2px black;
}

#wrapper{
    display: flex;
    font-weight: bold;
}

#fillDBWithCapitals{
    margin-left: 90%;
    position: fixed;
    top: 5%;
}

#searchByPreferences{
    color: white;
    margin-top: 3%;
    margin-left: 20%;
    flex: 5% 0 30%;
    -webkit-text-stroke: 0.2px black;
}

#formCitySearch{
    color: white;
    flex: 0 0 auto;
    margin-left: 30%;
    margin-top: 3%;
    display: flex;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                                  1px 1px 0 #000,
                                 1px -1px 0 #000,
                                -1px -1px 0 #000;
}

#SearchByCity{
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 0.3px blue;
    text-shadow: -1px 1px 0 #000,
                                  1px 1px 0 #000,
                                 1px -1px 0 #000,
                                -1px -1px 0 #000;
}

#formPrefSearch{
    color: white;
    flex: 0 0 auto;
    margin-left: 30%;
    margin-top: 3%;
    display: flex;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                                  1px 1px 0 #000,
                                 1px -1px 0 #000,
                                -1px -1px 0 #000;
}

#DBInitBtn{
    position: fixed;
    left: 83%;
    top: 10%;
}

#outputPrefSearch{
    color: white;
    margin-left: 30%;
    margin-top: 3%;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 45%;
}

thead{
    background-color: darkgreen;
}

tbody:nth-child(even) {
    background-color: lightgreen;
}

tbody {
    background-color: darkgreen;
}

tbody:hover{
    background-color: gray;
}

.navHeader{
    width:50%;
    position: fixed;
    top: 1%;
    left: 37%;
    font-weight: bold;
    font-size: larger;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparant;


}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                               1px -1px 0 #000,
                              -1px -1px 0 #000;
}

li a:hover {
  background-color: #111;
}

.admin {
    float: right;
}

#loginForm{
    width: 20%;
    padding: 12px 20px;
    color: white;
    margin-left: 30%;
    margin-top: 3%;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;
}

#registerForm{
    width: 20%;
    padding: 12px 20px;
    color: white;
    margin-left: 30%;
    margin-top: 3%;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;

}

.registerInput, .loginInput{
width: 100%;
margin-bottom: 15px;

}

#profileInfo{
    color: white;
    margin-left: 30%;
    margin-top: 3%;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;
}

#errorMSG{
    color: red;
    margin-left: 35%;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;
}

#chooseCityTxt{
    color: white;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;

}

#commentWrapper{
    margin-left: 35%;
    color: white;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;

}

#ratingMSG{

}

#profileTable {
        background-color: lightblue;
}